doctype html
html
  head
    title Swarg Dance Academy
    block scripts
    block style
  body
     nav#navbar
        ul
            div#logo 
                img(src="/static/logo.jfif")
                | SWARG
            li #[a(href="/") Home]
            li #[a(href="/") About] 
            li #[a(href="/") Services]
            li #[a(href="/") Class Info] 
            li #[a(href="/contact") Contact Us]  
     block content
     footer#footer | Copyright 2021 RaginiDanceAcademy.com | All rights reserved        