extends base.pug

block scripts  
  script(src='/static/index.js')

block style 
    style 
      include ../static/style.css   

block content      
    section#introSection
        div WELCOME TO RAGINI'S DANCE ACADEMY
        div.small Eat  Sleep  Dance  Repeat
    section#missionSection 
        h2 Our Mission
        div.card 
           h3 Dance Perfection   
            div.card-box   
               div.card-img   
                   img(src="/static/1.jfif")
               div.card-content  
                   p This is the best academy of your area
                     
        div.card 
           h3 Dance the way you like  
            div.card-box   
               div.card-img   
                   img(src="/static/1.jfif")
               div.card-content  
                   p This is the best academy of your area
                     
        div.card 
           h3 Expert Teaching  
            div.card-box   
               div.card-img   
                   img(src="/static/1.jfif")
               div.card-content  
                   p This is the best academy of your area
                     
    section#sponsorsSection  
        h3 Our Sponsors
        div#sponsors  
            img(src="/static/logo1.png",alt="Sponsor Image",class="spImage") 
            //- alt contaions the text which will show when image fails to reload
            img(src="/static/logo2.jpg",alt="Sponsor Image",class="spImage") 
            img(src="/static/logo3.png",alt="Sponsor Image",class="spImage") 
            img(src="/static/logo4.jfif",alt="Sponsor Image",class="spImage") 