h1{
    text-align: center;
    margin: 12px 0;
}
.myInput{
    width: 40%;
    padding:9px;
    margin:8px;
    font-size: 16px;
    border: 2px solid rgb(243, 132, 132);
    border-radius: 12px;
    outline: none;
}
.myForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.btn{
    padding: 12px 16px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    background-color:rgb(73, 4, 4);
    cursor: pointer;
    outline: none;
    margin: 26px;
}
.container{
    justify-content: center;
    min-height: 80vh;
    display:flex;
    align-items: center;
    flex-direction:column;
    

}
.conatiner h1{

}